/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.show{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around;
}
nav ul li {
    margin-left: 35px;
} */


@media(max-width: 767px) { 
    /* nav{
        display: none;
    } */
    /* .show{
        display: flex;
        flex-direction: column;
    } */
    /* .hide{
        display: block;
    } */
    
}